.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip
embeddings/checkpoints/
face_generation/data/
MNIST_data/
semi-supervised/data/

.ipynb_checkpoints/


*.pyc
*.p
*.pkl 

*/.floyd*

